* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:
    'sidebar header header header header'
    'sidebar content content content content'
    'sidebar content content content content'
    'sidebar content content content content'
    'sidebar content content content content';
  grid-template-rows: minmax(120px, auto);
}

a {
  text-decoration: none;
}

/* SIDEBAR */
.sidebar {
  background: #1992d4;
  height: 100vh;
  grid-area: sidebar;
  padding-left: 1rem;
  width: auto;
}

#logo {
  width: 150px;
  margin-bottom: 2rem;
}

.menu a,
.settings a {
  color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

.menu li,
.settings li {
  list-style: none;
  margin-bottom: 10px;
}

.settings {
  margin-top: 50px;
}

.icon {
  width: 25px;
}

/* HEADER */
.header {
  grid-area: header;
  margin-top: 20px;
}

.header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 40px;
}

.search {
  display: flex;
  gap: 20px;
  align-items: center;
}

.user-info {
  display: flex;
  gap: 10px;
}

.header img {
  width: 30px;
}

#avatar-small,
#avatar-big {
  width: 20%;
}

.header-bottom button {
  background-color: #1992d4;
  border: none;
  padding: 5px 20px;
  color: #fff;
  border-radius: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.greeting {
  margin-top: 10px;
}

.greeting p:nth-child(2) {
  font-weight: bold;
  margin-top: 5px;
}

input {
  background-color: #e2e8f0;
  border: none;
  border-radius: 10px;
  width: 450px;
  height: 25px;
}

.user {
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* MAIN CONTENT */
.content {
  grid-area: content;
  background: #e2e8f0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    'projects announcement'
    'projects trending';
  padding-bottom: 0;
}

.projects-container {
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project {
  border-left: 8px solid orange;
  margin: 20px 10px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

.project p,
.announcements p {
  color: #636363;
  font-size: 0.8rem;
}

.project-icons {
  width: 40%;
  margin-top: 10px;
  float: right;
}

.announcements,
.trending {
  background-color: #fff;
  margin: 20px 10px;
  border-radius: 8px;
  padding: 20px 30px;
  height: max-content;
}

.announcements p {
  margin-bottom: 20px;
}

hr {
  margin-bottom: 20px;
}

#trending-img {
  width: 80%;
}
