* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:
    'sidebar header header header header'
    'sidebar content content content content'
    'sidebar content content content content'
    'sidebar content content content content'
    'sidebar content content content content';
  grid-template-rows: minmax(120px, auto);
}

a {
  text-decoration: none;
}

/* SIDEBAR */
.sidebar {
  background: #1992d4;
  height: 100vh;
  grid-area: sidebar;
  padding-left: 1rem;
  width: auto;
}

#logo {
  width: 150px;
  margin-bottom: 2rem;
}

.menu a,
.settings a {
  color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

.menu li,
.settings li {
  list-style: none;
  margin-bottom: 10px;
}

.settings {
  margin-top: 50px;
}

.icon {
  width: 25px;
}

/* HEADER */
.header {
  grid-area: header;
  margin-top: 20px;
}

.header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header img {
  width: 30px;
}

#avatar-small {
  width: 20%;
}

input {
  background-color: #e2e8f0;
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 25px;
}

.user {
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* MAIN CONTENT */
.content {
  grid-area: content;
  background: #e2e8f0;
}
